.ipynb_checkpoints
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
/TEMP
.DS_Store
R/.DS_Store
Rmd/.DS_Store
spatialML_package.Rproj
pap-venv/*
renv/library/*
renv/staging/*
Rmd/*cache*
Rmd/*files*
Rmd/*pdf
Rmd/CumberlandNJ/preprocessing/*cache*
Rmd/CumberlandNJ/preprocessing/*files*
Rmd/CumberlandNJ/preprocessing/*pdf
Rmd/CumberlandNJ/preprocessing/.DS_Store
Rmd/CumberlandNJ/postprocessing/*cache*
Rmd/CumberlandNJ/postprocessing/*files*
Rmd/CumberlandNJ/postprocessing/*pdf
Rmd/CumberlandNJ/postprocessing/.DS_Store
Rmd/CumberlandNJ/scratch/*cache*
Rmd/CumberlandNJ/scratch/*files*
Rmd/CumberlandNJ/scratch/*pdf
Rmd/CumberlandNJ/scratch/*html
Rmd/CumberlandNJ/.DS_Store
Rmd/CumberlandNJ/scratch/.DS_Store
